<ul class="nav nav-tabs" id="myTab" role="tablist">
    {{ product.title }}
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="desc-tab" data-bs-toggle="tab" data-bs-target="#desc" type="button" role="tab" aria-controls="desc" aria-selected="true">Description</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="false">Review</button>
    </li>
</ul>
  
<div class="tab-content">
    <!-- Product description tab -->
    <div class="container tab-pane active" id="desc" role="tabpanel" aria-labelledby="desc-tab">
        <div class="row">
            <!-- Image slider -->
            <div class="col-4" id="prod_img_indicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#prod_img_indicators" 
                    *ngFor="let indicator of product.images; let i = index"
                    data-bs-slide-to="1" [class.active]="i == curr_slide" (click)="setCurrSlide(i)"
                    aria-current="true" aria-label="{{ 'Slide ' + i"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item" 
                    *ngFor="let image of product.images; let i = index"
                    [class.active]="i == curr_slide">
                        <app-iwfb [_src]="image" [_class]="'d-block w-100'"></app-iwfb>
                    </div>
                </div>
            </div>

            <app-star-rating [rating]="product.rating"></app-star-rating>

            <!-- purchase information -->
            
        </div>
    </div>

    <!-- Reviews tab -->
    <div class="tab-pane" id="review" role="tabpanel" aria-labelledby="review-tab"></div>
</div>