
    <!-- Binding the product image, 
    onerror is an inbuilt browser function called whenever an element has an error
    in this instance, expected error can be that the src image is not found,
    in that case we use onerror to specify a fallback image, so our UI is never compromised.
      -->

    <!-- Test the fallback image by setting the value of the product image url
    to something that doesn't exist.
    Change it in the ts file. -->

    <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <!-- Binding the product title -->
        
        <div class="d-flex justify-content-around">

            <a href="#" class="btn float-end">View Shop</a>
        </div>
    </div>
</div>

<app-modal #product_details [modal_size]="product_details.sizes.medium">
    <app-product-details [product]="product"></app-product-details>
</app-modal>