.card {
    margin: 1em;
    padding: 0;
    border: 1"node_modules/bootstrap/dist/css/bootstra.min.css";
    border: 1px solid black;
}

.card img {
    height: 16em;
}

.card .card-title {
    text-align: center;
}

.card .btn {
    background: #FFC978;
    color: white;
}