
<!-- <div class="container col-md-4 position-center formC" >
    <h1 class="header"> DownTown</h1>
    <form class="form">
        <mat-form-field class="example-full-width" appearance ="outline">
            <mat-icon aria-hidden="false">account_circle</mat-icon>
          <input matInput placeholder="e.g John" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance ="outline">
            <input matInput placeholder="Ex. John" value="">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance ="outline">
            <input type="email" matInput value=""
                   placeholder="Ex. pat@example.com">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance ="outline">
            <input type="password" matInput value=""
                   placeholder="create password">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance ="outline">
            <input type="password" matInput value=""
                   placeholder="Re-type password">
          </mat-form-field>
    <button class="btn btn-primary">Sign up</button>

    </form>
</div>
        

         -->
        <div class="container col-md-6 position-center">
          <div class="formContainer">
            <div class="header">DownTown Signup</div>

          <form >
                <div class="form-group">
                  <label for="Fname"> First name:</label>
                    <input type="Text" class="form-control" id="Fname"  placeholder="type first name">
                  </div>
                  <div class="form-group">
                    <label for="Lname"> Last name:</label>
                      <input type="Text" class="form-control" id="Lname"  placeholder="type last name">
                    </div>
                    <div class="form-group">
                      <label for="Uname"> Username:</label>
                        <input type="Text" class="form-control" id="Uname"  placeholder="create username">
                      </div>
                  <div class="form-group">
                  <label for="Email1"> Email address:</label>
                    <input type="Text" class="form-control" id="Email1" aria-describedby="emailHelp" placeholder="Type email">
                  </div>
                  <div class="form-group">
                    <label for="Password1">Password:</label>
                    <input type="password" class="form-control" id="Password1" placeholder="create Password">
                  </div>
                  
                  <div class="form-group">
                    <label for="Password2">Re-type Password:</label>
                    <input type="password" class="form-control" id="Password2" placeholder="re-type password">
                  </div>
                  <div class = "form-group ">
                  <button type="submit" class="btn btn-primary" routerLink="#">Submit</button>
                  </div>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input type="checkbox" value="false"> I accept the <a href="#">Terms of use </a> & <a href="#">Privacy Policy</a>
                    </label>
                </div>
                </form>
          </div>
      </div>
      
